<!-- views/partials/footer.ejs -->
<p class="text-center text-muted">CSULB Senior Project</p>

<script type="text/javascript" src="/moment/min/moment.min.js"></script>
<script type="text/javascript" src="/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
<script src="/scripts/myScript.js"></script>