<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>
    <div class="row">

        <div class="col-sm-8">
            <div class="well">

                <!-- <span class="fa fa-lock"></span> -->
                <span <p class="container-fluid">
                    <h1 id="project_about">What is the project about:</h1>
                    <p>The resilient smart garden will help us out here in California where we’re in the midst of a drought;
                        which becomes a problem when we have so much farming. Every drop of water is precious and the farming
                        process could use some help with optimizing its water use. Too much watering is just wasting this
                        limited resource and underwatering kills plants or renders them unable to produce maximum crop production.
                    </p>
                    <p>Our Resilient Smart Garden will help to ensure vegetable plants are not over or under watered. It will
                        find the water balance to grow the perfect vegetable. It also takes the mandatory watering out of
                        the users hands and automates watering based on the moisture of the soil.
                    </p>
                    <p>The Smart Garden will take moisture and temperature readings to decide if the garden needs more water.
                        These readings will be stored in a database that is accessible online and can be accessed through
                        pc or mobile smartphone. The data can be used to further research on the best watering method that
                        fits for different kinds of plants.
                    </p>
                </span>
                <h1 id="project_features">What are the features:</h1>
                <h2>App Features</h2>
                <ul>
                    <li>
                        Check the current garden settings and the current state of the garden.
                    </li>
                    <li>
                        Select logs based on the dates that you are interested in.
                    </li>
                    <li>
                        Share your garden settings for certain vegetables.
                    </li>
                    <li>
                        Set a watering schedule for your garden.
                    </li>
                </ul>
                <h2>Arduino Features</h2>
                <h1 id="project_components">
                    What are the components:
                </h1>
                <ul>
                    <li>
                        Hardware Required:
                    </li>
                    <li>
                        Software Required:
                    </li>
                    <li>
                        Languages Being Used:
                    </li>
                    <li>
                        Database:
                    </li>
                </ul>
                <h1 id="project_install">
                    How to install:
                </h1>
                <h1 id="project_contribute">
                    How to contribute:
                </h1>
                <p>The code for the webpage is hosted on Jose Hernandez's
                    <a href="https://github.com/JosetheJedi/smartproject ">GitHub</a> account.</p>
                <p>To get started with the Arudiono board you can download the code required from Raul's
                    <a href="https://github.com/Rawrool">GitHub</a> account.</p>
                <p>The IOS code can be found in Jason's
                    <a href="https://github.com/akagopher8">GitHub</a> account.</p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="well">
                <ul>
                    <li>
                        <a href="#project_about">What is the project about?</a>
                    </li>
                    <li>
                        <a href="#project_features">Features</a>
                    </li>
                    <li>
                        <a href="#project_components">Components</a>
                    </li>
                    <li>
                        <a href="#project_install">How to install</a>
                    </li>
                    <li>
                        <a href="#project_contribute">How to contribute</a>
                    </li>
                    <li>
                        <a href="#project_support">Support</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="well">
                <h2 class="text-center">
                    <b>Project Support</b>
                </h2>
                <br/>
                <br/>
                <div class="card">
                    <img src="https://avatars3.githubusercontent.com/u/31973227?s=400&v=4" alt="John" style="width:100%">
                    <h3>Raul Herrera</h3>
                    <p class="title">Project Leader, Lead Arduino Specialist</p>
                    <p>California State University, Long Beach</p>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/rawrool">
                        <i class="fa fa-github"></i>
                    </a>
                    <p>
                        <button>Contact</button>
                    </p>
                </div>
                <div class="card">
                    <img src="https://avatars2.githubusercontent.com/u/2252999?s=460&v=4" alt="John" style="width:100%">
                    <h3>Jose F. Hernandez-Uribe</h3>
                    <p class="title">Database Developer, Webserver admin</p>
                    <p>California State University, Long Beach</p>
                    <a href="https://www.linkedin.com/in/josefhu15/">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/JosetheJedi">
                        <i class="fa fa-github"></i>
                    </a>
                    <p>
                        <a href="mailto:josefhu15@gmail.com">
                            <button>Contact</button>
                        </a>
                    </p>
                </div>
                <div class="card">
                    <img src="https://avatars1.githubusercontent.com/u/11216581?s=460&v=4" alt="Jason" style="width:100%">
                    <h3>Jason Shortino</h3>
                    <p class="title">IOS Developer</p>
                    <p>California State University, Long Beach</p>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="https://github.com/akagopher8">
                        <i class="fa fa-github"></i>
                    </a>
                    <p>
                        <button>Contact</button>
                    </p>
                </div>
                <div class="card">
                    <img src="http://bh.aiesec.org/wp-content/uploads/2017/03/mark-zuckerberg.jpg" alt="Arjun" style="width:100%">
                    <h3>Arjun Chawla</h3>
                    <p class="title">IOS Developer</p>
                    <p>California State University, Long Beach</p>
                    <a href="#">
                        <i class="fa fa-linkedin"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-github"></i>
                    </a>
                    <p>
                        <button>Contact</button>
                    </p>
                </div>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="well">

            </div>
        </div>
    </div>
</body>

</html>