<!-- views/index.ejs -->
<!doctype html>
<html>

<head>
    <% include ./partials/header %>
        <title>Node Authentication</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
        <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
        <!-- load fontawesome -->
        <style>
            body {
                padding-top: 80px;
            }
        </style>
</head>

<body>
    <div class="row">

        <div class="col-sm-8">
            <div class="well">

                <!-- <span class="fa fa-lock"></span> -->
                <h1 id="project_about">What is the project about:</h1>
                <p class="container-fluid">The resilient smart garden will help us out here in California where we’re in the midst of a drought; which
                    becomes a problem when we have so much farming. Every drop of water is precious and the farming process
                    could use some help with optimizing its water use. Too much watering is just wasting this limited resource
                    and underwatering kills plants or renders them unable to produce maximum crop production. Our Resilient
                    Smart Garden will help to ensure vegetable plants are not over or under watered. It will find the water
                    balance to grow the perfect vegetable. It also takes the mandatory watering out of the users hands and
                    automates watering based on the moisture of the soil. The Smart Garden will take moisture and temperature
                    readings to decide if the garden needs more water. These readings will be stored in a database that is
                    accessible online and can be accessed through pc or mobile smartphone. The data can be used to further
                    research on the best watering method that fits for different kinds of plants.
                </p>
                <h1 id="project_features">What are the features:</h1>
                <h1 id="project_components">
                    What are the components:
                </h1>
                <h1 id="project_install">
                    How to install:
                </h1>
                <h1 id="project_contribute">
                    How to contribute:
                </h1>
                <h1 id="project_support">
                    Support:
                    <h3>The Developers</h3>
                    <ul class="list-unstyled">
                        <li>Jose F Hernandez-Uribe</li>
                        <ul>
                            <li>Email:
                                <a href="mailto:josefhu15@gmail.com">Gmail</a>
                            </li>
                            <li>GitHub:
                                <a href="https://github.com/JosetheJedi">JoseTheJedi</a>
                            </li>
                        </ul>
                        <li>Raul Herrera</li>
                        <ul>
                            <li>Email: </li>
                            <li>GitHub:
                                <a href="https://github.com/rawrool">Rawrool</a>
                            </li>
                        </ul>
                        <li>Jason Shortino</li>
                        <ul>
                            <li>Email: </li>
                            <li>GitHub: </li>
                        </ul>
                        <li>Arjun Chawla</li>
                        <ul>
                            <li>Email: </li>
                            <li>GitHub: </li>
                        </ul>
                    </ul>
                </h1>

            </div>
        </div>

        <div class="col-sm-2">
            <div class="well">
                <ul>
                    <li>
                        <a href="#project_about">What is the project about?</a>
                    </li>
                    <li>
                        <a href="#project_features">Features</a>
                    </li>
                    <li>
                        <a href="#project_components">Components</a>
                    </li>
                    <li>
                        <a href="#project_install">How to install</a>
                    </li>
                    <li>
                        <a href="#project_contribute">How to contribute</a>
                    </li>
                    <li>
                        <a href="#project_support">Support</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="well">

            </div>
        </div>
    </div>
</body>

</html>