<!-- views/profile.ejs -->
<!doctype html>
<html>

<head>
    <% include ./partials/head %>
</head>

<body>
    <header>
        <% include ./partials/header %>
    </header>
    <div class="container">

        <div class="page-header text-center">
            <h1>
                <img src="smartGarden_icon.png" width="290" height="410" />
                <br/>
                <br/>Garden Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <h1>
                    Gardens
                </h1>
                <a href="/create/garden" class="btn btn-default">Create Garden</a>
            </div>

        </div>

    </div>
</body>

</html>